MNEMONIC=often carpet dynamic deal utility emerge guide matter child rapid thunder option
NODE=wss://kovan.infura.io/ws/v3/
PRIVATE_KEY=0x
ETH_SCAN_API_KEY=
CONTRACT_ADDRESS="0xaFab468B37c77C35223E5d1b11F378F09E0326C9"
TOKEN_ADDRESS="0x1Ab87d843E31248e0e094dc7444A40048ee01FB7"