MNEMONIC=often carpet dynamic deal utility emerge guide matter child rapid thunder option
NODE=wss://kovan.infura.io/ws/v3/
PRIVATE_KEY=0x
ETH_SCAN_API_KEY=
GRAPH_API=
CONTRACT_ADDRESS="0xD6a97fb13711C78Ca7522EA78a1e6A00181CE6a1"